.button {
  border: none;
  position: relative;
  float: left;
  font: 700 10px 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 10px 32px;

  &-rounded {
    border-radius: 3px;
  }

  &-default {
    background: #EDF1F7;
    color: #2F3640;
    &:hover {
      background-color: #C9D7E9;
    }
  }

  &-primary {
    background: #0D65D8;
    color: #FFF !important;
    &:hover {
      background-color: #5D9CEC;
    }
  }
}